<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.istic.mob.starv1moussakevin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>-->
    <!--    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>-->

    <permission-group android:name="starv1moussakevin.permission.READ_WRITE"/>

    <permission
        android:name="starv1moussakevin.permission.READ_STAR_PROVIDER"
        android:label="@string/permission_read_provider"
        android:description="@string/permission_read_provider"
        android:permissionGroup="starv1moussakevin.permission.READ_WRITE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="fr.istic.mob.starv1moussakevin.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".StarProvider"
            android:authorities="fr.istic.mob.starv1moussakevin"
            android:enabled="true"
            android:exported="true"
            android:readPermission="starv1moussakevin.permission.READ_STAR_PROVIDER"
            android:writePermission="starv1moussakevin.permission.WRITE_STAR_PROVIDER" />
    </application>

</manifest>